<br /><%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <br /><% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: "Title" %>
  </div><br />

  <div class="field">
    <%= f.text_area :content, placeholder: "What's your question?" %>
  </div>

  <div class="field">
    <%= f.text_field :tag_list, placeholder: "Tags (separate by comma)" %>
  </div><br />
    <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %><br />
