<%= form_for(@question, class: "form-horizontal") do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <br /><% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= f.label :title, "Title:", class: "control-label" %>
      <%= f.text_field :title, placeholder: "Enter title here", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :content, "Content:", class: "control-label" %>
      <%= f.text_area :content, placeholder: "What's your question ?", class: "form-control", rows: "7", cols: "100" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :tag_list, "Tags:", class: "control-label" %>
      <%= f.text_field :tag_list, placeholder: "Tags (separate by comma)", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %><br />
