<p id="notice"><%= notice %></p>
<p>
  <strong>Subject:</strong>
  <%= @question.title %>
</p>
<p>
  <strong>Question:</strong>
  <%= @question.content %>
</p>

<!-- Begin Answer Field -->

<%= form_for(@answer) do |f| %>
	<% if @answer.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this question from being saved:</h2>
	    <ul>
	    <% @answer.errors.full_messages.each do |message| %>
	      <li><%= message %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

	
  <div class="field">
  	<%= f.hidden_field :question_id, value: @question.id%>
    <%= f.label :content, "Answer question below :" %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
<h4>Answers<h4>
	<% if !@question.answers.empty? %>
		<% @question.answers.each do |answer| %>
		<p><%= answer.content %></p>
	<%end%>
<%end%>

		<!-- End Answer Field -->
		



<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
