<h4>
 <%= @question.title %>
</h4>

<p>
  <strong>* * *</strong><br />
  <%= @question.content %>
</p>

<p>Asked by <%= @question.asker.name %></p>

<p><%= raw @question.tag_list.map {|t| link_to t, tag_path(t) }.join(", ") %></p>

<ul>
  <% if !@question.answers.empty? %>
    <% @question.answers.each do |answer| %>
     <li><p><%= answer.content %></p></li>
      <%= link_to_image(answer.responder.image_url, user_path(answer.responder_id)) %><br />
     <br><%= link_to('thumbs up!', vote_up_answer_path(answer), :method => :post, class: "btn btn-primary btn-sm") %><%= pluralize(answer.votes.count, 'vote') %>
    <%end%>
  <%end%>
</ul>
<%= form_for([@question, Answer.new]) do |f| %>
  <%= f.label :content, "Submit your answer" %>
  <%= f.text_field :content  %>
  <div class="actions">
    <br /><%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %><br />

<% if @question.asker_id == current_user.id %>
<%= link_to 'Edit', edit_question_path(@question), class: "btn btn-primary" %> |
<% end %>
<%= link_to 'Back', questions_path, class: "btn btn-primary" %>
