<p>
  <strong>Subject:</strong><br />
  <%= @question.title %>
</p>
<p>
  <strong>Question:</strong><br />
  <%= @question.content %>
</p>

<!-- Begin Answer Field -->
<h4>Answers<h4>
<ul>
	<% if !@question.answers.empty? %>
		<% @question.answers.each do |answer| %>
  		<li><p><%= answer.content %></p></li>
  	<%end%>
  <%end%>
<<<<<<< Updated upstream
=======
</ul>

>>>>>>> Stashed changes
<%= form_for([@question, Answer.new]) do |f| %>
 <%= f.label :content, "Answer the question" %>
 <%= f.text_field :content  %>
 <div class="actions">
   <%= f.submit "Submit" %>
 </div>
<% end %>

>>>>>>> 46b86401cb435edf374f93f5ea45150eacf9b1cc

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
