<%= form_for(@user) do |f| %>
  <div class="field">
    <br><%= f.label :name, "Name" %>
    <br><%= f.text_field :name %>
    <br><%= f.label :email, "Email" %>
    <br><%= f.text_field :email %>
  </div><br>

  <div class="action">
    <%= f.submit "Update info" %>
  </div><br>
<% end %>