<h1 class="text-center">Members</h1><br />


<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-lg-4 col-sm-6">
        <%= link_to user_path(user.id) do %>
          <%= image_tag user.image_url, class: "img-circle img-responsive", width: 150, height: 150 %>
        <% end %>
        <h3><%= link_to user.name, user_path(user.id) %>
            <small><%= user.title %></small>
        </h3><br />
      </div>
    <% end %>
  </div>
</div>
<br>
<%= link_to 'Back', root_path, class: "btn btn-primary" %> <br>
