<%= image_tag @user.image_url, class: "img-circle img-responsive", width: "150", height: "150" %><br>
<br><p>
  <%= @user.name %>
</p>

<p>
  <%= @user.email %>
</p><br>

<h4>Questions asked:</h4>
<% @questions.each do |question| %>
  <p><strong> <%= link_to question.title, question_path(question) %></strong>:
  <%= question.content %> </p>
<% end %><br />

<h4>Questions answered:</h4>
<% @answers.each do |answer| %>
  <p><%= answer.content %></p>
<% end %>

<br /><%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %> |
<%= link_to 'Back', root_path, class: "btn btn-primary" %> <br>
