<%= image_tag @user.image_url, class: "img-circle img-responsive", width: "150", height: "150" %><br>
<br><p>
  <%= @user.name %>
</p>
<p>
  <%= @user.email %>
</p>
<p>
  <%= @user.title %>
</p><br>


<div id="tag_cloud">
  <% tag_cloud Question.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<h4>Questions asked:</h4>
<% @questions.each do |question| %>
  <p><strong> <%= link_to question.title, question_path(question) %></strong>
  <%= question.content %> </p>
<% end %><br />

<h4>Questions answered:</h4>
<% @hash.each do |k, v| %>
  <strong><%= link_to k.title, question_path(k.id) %></strong>
  <% v.each do |answer| %>
    <ul>
      <li><%= answer %></li>
    </ul>
  <% end %>
<% end %>


<br /><%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" if @user == current_user %> |
<%= link_to 'Back', root_path, class: "btn btn-primary" %> <br>



