<!DOCTYPE html>
<html>
<head>
  <title>FlatironExchange</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<%= render "layouts/header"  %>

<div class="container">
  <% flash.each do |name, msg| %>
    <button class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <div class="alert alert-<%= name %> alert-dismissable">
      <%= msg %>
    </div>
  <% end %>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
